/* fira-sans-300 - latin_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: url('fira-sans-v10-latin_cyrillic-300.dfca6f09.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Light'), local('FiraSans-Light'),
       url('fira-sans-v10-latin_cyrillic-300.dfca6f09.eot?#iefix') format('embedded-opentype'), 
       url('fira-sans-v10-latin_cyrillic-300.fc02c2d6.woff2') format('woff2'), 
       url('fira-sans-v10-latin_cyrillic-300.acde95a5.woff') format('woff'), 
       url('fira-sans-v10-latin_cyrillic-300.a553bfbe.ttf') format('truetype'), 
       url('fira-sans-v10-latin_cyrillic-300.a621a9e4.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fira-sans-v10-latin_cyrillic-regular.22c4c534.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
       url('fira-sans-v10-latin_cyrillic-regular.22c4c534.eot?#iefix') format('embedded-opentype'), 
       url('fira-sans-v10-latin_cyrillic-regular.286258ea.woff2') format('woff2'), 
       url('fira-sans-v10-latin_cyrillic-regular.a5ec2e72.woff') format('woff'), 
       url('fira-sans-v10-latin_cyrillic-regular.ea8e1b48.ttf') format('truetype'), 
       url('fira-sans-v10-latin_cyrillic-regular.6452bee6.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-500 - latin_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url('fira-sans-v10-latin_cyrillic-500.1bb4bb33.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Medium'), local('FiraSans-Medium'),
       url('fira-sans-v10-latin_cyrillic-500.1bb4bb33.eot?#iefix') format('embedded-opentype'), 
       url('fira-sans-v10-latin_cyrillic-500.bea43370.woff2') format('woff2'), 
       url('fira-sans-v10-latin_cyrillic-500.a37eea63.woff') format('woff'), 
       url('fira-sans-v10-latin_cyrillic-500.8f16d644.ttf') format('truetype'), 
       url('fira-sans-v10-latin_cyrillic-500.b2f37be8.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fira-sans-v10-latin_cyrillic-700.4bb50bc3.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Bold'), local('FiraSans-Bold'),
       url('fira-sans-v10-latin_cyrillic-700.4bb50bc3.eot?#iefix') format('embedded-opentype'), 
       url('fira-sans-v10-latin_cyrillic-700.c8eb7cc5.woff2') format('woff2'), 
       url('fira-sans-v10-latin_cyrillic-700.17c4199b.woff') format('woff'), 
       url('fira-sans-v10-latin_cyrillic-700.3fa4d00a.ttf') format('truetype'), 
       url('fira-sans-v10-latin_cyrillic-700.de05a40e.svg#FiraSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('open-sans-v17-latin_cyrillic-700.628daa17.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('open-sans-v17-latin_cyrillic-700.628daa17.eot?#iefix') format('embedded-opentype'), 
       url('open-sans-v17-latin_cyrillic-700.a0291cab.woff2') format('woff2'), 
       url('open-sans-v17-latin_cyrillic-700.0c74c0bb.woff') format('woff'), 
       url('open-sans-v17-latin_cyrillic-700.9c7d1ee4.ttf') format('truetype'), 
       url('open-sans-v17-latin_cyrillic-700.d0bc03c7.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('open-sans-v17-latin_cyrillic-600.cf0402dc.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('open-sans-v17-latin_cyrillic-600.cf0402dc.eot?#iefix') format('embedded-opentype'), 
       url('open-sans-v17-latin_cyrillic-600.9d0e5d5f.woff2') format('woff2'), 
       url('open-sans-v17-latin_cyrillic-600.aa72cb36.woff') format('woff'), 
       url('open-sans-v17-latin_cyrillic-600.1e461e3d.ttf') format('truetype'), 
       url('open-sans-v17-latin_cyrillic-600.f6d3a9ce.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'DejaVu Sans';
	font-style: normal;
	src: url('ofont.ru_DejaVu Sans.bf085299.ttf') format('truetype');
}

html {
	height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

* {
	box-sizing: border-box;
}

.fixedContainer {
	max-width: 980px;
	margin: 0 auto;
	padding: 0 20px;
}
._homeWrapper_de8e7 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('bg.b9883557.png');
}

._hello_de8e7 {
    position: relative;
    width: 300px;
    background-color: white;
    border-radius: 8px;
    border-left: 1px solid #e0e0e1;
    border-bottom: 1px solid #c7c7c8;
    border-right: 1px solid #e0e0e1;
    box-shadow: 0 1px 0 0px #e0e0e1;
}
  
._photoWrapper_de8e7 {
    width: 140px;
    height: 140px;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #bdbdbd;
    top: -71px;
    left: 79px;
}
  
._name_de8e7 {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 21px;
    word-wrap: break-word;
}
  
._name_margin_de8e7 {
    margin-top: 83px;
}
  
._linkWrapper_de8e7 {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #33c1e3;
    border-radius: 0 0 7px 7px;
    margin-top: 15px;
}
  
._link_de8e7 {
    display: block;
    font-family: 'Fira Sans';
    color: white;
    max-width: 100%;
    padding: 10px 13px;
    text-decoration: none;
    font-size: 14px;
    border: 2px solid white;
    border-radius: 20px;
    word-wrap: break-word;
    box-sizing: border-box;
}
  
._link_margin_de8e7 {
    margin: 18px 0;
}
  
._link_de8e7:hover {
    background-color: white;
    color: #33c1e3;
}
  
._sectionsWrapper_24e03 {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header"
                        "main"
                        "footer";
  font-family: 'Fira Sans';
  background-color: #f6f6f6;
}
._header_8b5fc {
	border-bottom: 1px solid #d5d5d5;
	background-color: white;
}

._headerWrapper_8b5fc {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 79px;
}

._nameWrapper_8b5fc {
	display: flex;
	align-items: center;
}

._logoWrapper_8b5fc {
	border: 1px solid #d0d0d0;
	border-radius: 50%;
	overflow: hidden;
	width: 60px;
	height: 60px;
}

._name_8b5fc {
	max-width: 250px;
	padding-left: 20px;
	font-weight: 400;
	font-size: 18px;
	color: #414141;
	text-decoration: none;
	display: inline-block;
	word-wrap: break-word;
}

._contactsWrapper_8b5fc {
	position: relative;
	padding: 0 0 10px;
    margin-top: 10px;
    cursor: pointer;
}

._contactsWrapper_8b5fc:hover > ._buttonContacts_8b5fc {
	color: #e96667;
    border-bottom: 1px dashed #e96667;
}

._contactsWrapper_8b5fc:hover > ._contacts_8b5fc {
    display: block;
}

._buttonContacts_8b5fc {
	border: 0;
	font-family: 'Fira Sans';
	padding: 0;
	border-bottom: 1px dashed #32c3e5;
	background-color: white;
	color: #32c3e5;
	font-weight: 700;
	font-size: 18px;
	cursor: pointer;
	max-width: 250px;
	word-wrap: break-word;
	line-height: 27px;
}

._buttonContacts_8b5fc:hover {
    color: #e96667;
    border-bottom: 1px dashed #e96667;
}

._buttonContacts_8b5fc:focus {
	outline: none;
}

._buttonContacts_8b5fc:hover + ._contacts_8b5fc {
	display: block;
}

._contacts_8b5fc {
	display: none;
	position: absolute;
	left: -36px;
	top: 38px;
	background-color: white;
	width: 193px;
	height: 134px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	z-index: 5;
}

._contacts_8b5fc:hover {
	display: block;
}

._contacts_8b5fc:after {
	position: absolute;
	content: "";
	left: 85px;
    top: -9px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white; 
}

._contacts_8b5fc:before {
	position: absolute;
	content: "";
	left: 85px;
	top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #dddddd; 
}

._listContacts_8b5fc {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

._listContacts__item_8b5fc {
	padding: 10px 0 10px 20px;
	border-bottom: 1px solid #eeeeee;
}

._listContacts__item_8b5fc:last-child {
	border: 0;
}

._mailLink_8b5fc, ._numberLink_8b5fc, ._skypeLink_8b5fc {
    text-decoration: none;
	color: #414141;
	font-weight: 300;
	font-size: 18px;
}

._mailLink_8b5fc {
	background: url(mail.a6d96d48.png) 0 center no-repeat;
	padding-left: 28px;
}

._numberLink_8b5fc {
	background: url(phone.43f8f21d.png) 0 center no-repeat;
	padding-left: 28px;
}

._skypeLink_8b5fc {
	background: url(skype.0577f30d.png) 0 center no-repeat;
	padding-left: 28px;
}
._main_f9446 {
	padding: 20px 0;
}

._mainWrapper_f9446 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
._menu_a26c0 {
	display: flex;
	justify-content: flex-end;
	width: 220px;
}

._listMenu_a26c0 {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin: 0;
	padding: 0;
}

._listMenu__item_a26c0 {
    padding: 10px 30px 12px 0;
    max-width: 210px;
}

._listMenu__item_a26c0:first-child {
	margin-top: 5px;
}

._listMenu__link_a26c0 {
	text-decoration: none;
	color: #414141;
    font-weight: 400;
    font-size: 18px;
    padding-left: 26px;
    word-wrap: break-word;
}

._listMenu__link_a26c0:hover {
	color: #33c1e3;
}

._linkActive_a26c0 {
	color: #33c1e3;
	position: relative;
}

._linkActive_a26c0:after {
	position: absolute;
	content: "";
	width: 6px;
	background-color: #32c8e9;
	height: 44px;
	top: -10px;
	right: -30px;
	
}

._listMenu__link_iconAbout_a26c0 {
	background: url(about.299f82eb.png) 0 center no-repeat;
}

._listMenu__link_iconCareer_a26c0 {
	background: url(career.78dc8627.png) 0 center no-repeat;
}

._listMenu__link_iconPortfolio_a26c0 {
	background: url(portfolio.a9f839e3.png) 0 center no-repeat;
}

._listMenu__link_iconAbout_a26c0:hover {
	background: url(about-hover.83ebb0c2.png) 0 center no-repeat;
}

._listMenu__link_iconCareer_a26c0:hover {
	background: url(career-hover.fa2f458a.png) 0 center no-repeat;
}

._listMenu__link_iconPortfolio_a26c0:hover {
	background: url(portfolio-hover.efa8ff2e.png) 0 center no-repeat;
}

._iconAbout_active_a26c0 {
	background: url(about-hover.83ebb0c2.png) 0 center no-repeat;
}

._iconCareer_active_a26c0 {
	background: url(career-hover.fa2f458a.png) 0 center no-repeat;
}

._iconPortfolio_active_a26c0 {
	background: url(portfolio-hover.efa8ff2e.png) 0 center no-repeat;
}
._about_14e4f {
	display: flex;
	justify-content: space-between;
	flex-basis: 660px;
	max-width: 660px;
	flex-wrap: wrap;
}

._photoWrapper_14e4f {
	border-radius: 50%;
	overflow: hidden;
	height: 220px;
	box-shadow: 0px 0 0 5px white;
	margin-top: 9px;
}

._aboutWrapper_14e4f {
	display: flex;
	margin-top: 1px;
	flex-direction: column;
	max-width: 100%;
}

._nameSection_14e4f {
	margin: 0;
	color: #414141;
    font-weight: 500;
    font-size: 35px;
    max-width: 100%;
    word-wrap: break-word;
}

._textWrapper_14e4f {
	margin: 19px 2px 0 0;
	max-width: 378px;
	height: 317px;
	padding-right: 25px;
	overflow-y: scroll;
	overflow-x: hidden;
}

._textWrapper_14e4f::-webkit-scrollbar {
    width: 5px;
}
 
._textWrapper_14e4f::-webkit-scrollbar-track { 
    background-color: #f6f6f6; 
}
 
._textWrapper_14e4f::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #d8d8d8;
}

._text_14e4f {
	margin: 0 0 11px 0;
	max-width: 348px;
	color: #646464;
	word-wrap: break-word;
	font-size: 18px;
	font-weight: 300;
	line-height: 25px;
}

._linkDownload_14e4f {
	display: inline-block;
    color: #e85f61;
    padding: 8px 13px 8px 34px;
    text-decoration: none;
    font-size: 14px;
    border: 2px solid #e85f61;
    border-radius: 20px;
    font-family: 'Open Sans';
    font-weight: 700;
    background: url(download.a98fe74e.png) 12px 9px no-repeat;
}

._linkDownload_14e4f:hover {
	color: white;
	background: url(download-hover.e30639c9.png) 12px 9px no-repeat;
	background-color: #e85f61;
}

._linkDownload_position_14e4f {
	margin-top: 59px;
    align-self: flex-end;
}
._nameSection_6568e {
	margin: 0;
	color: #414141;
    font-weight: 500;
    font-size: 35px;
    max-width: 100%;
    word-wrap: break-word;
}

._career_6568e {
	display: flex;
	flex-direction: column;
	flex-basis: 700px;
	max-width: 700px;	
}

._careerWrapper_6568e {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 25px;
}

._backgroundBlock_6568e {
	position: relative;
	width: 220px;
	height: 220px;
	background-color: #f6f6f6;
	border-radius: 6px;
	overflow: hidden;
}

._imgPetersburg_6568e {
    display: none;
	position: absolute;
	left: -92px;
	top: -5px;
}

._imgWork_6568e {
	display: none;
	width: 220px;
	position: absolute;
}

._imgUniversity_6568e {
	display: none;
	height: 220px;
	position: absolute;
}

._listProfessions_6568e {
	position: relative;
}

._bar_6568e {
	
	position: absolute;
    width: 2px;
    height: 100%;
    background-color: #dddddd;
    left: -21px;
    z-index: 1;
}

._professions_6568e {
	position: relative;
	width: 381px;
	margin-bottom: 20px;
	z-index: 3;
}

._professions_6568e:last-child {
	margin-bottom: 0;
}

._professions_6568e:nth-child(2) > ._year_6568e:after {
	background-color: #f6f6f6;
	height: 100%;
	width: 4px;
	top: -100%;
	left: 40px;
	z-index: 2;
}

._professions_6568e:last-child > ._year_6568e:after {
	background-color: #f6f6f6;
	height: 100%;
	width: 4px;
	top:  0;
	left: 40px;
	z-index: 2;	
} 

._year_6568e {
	position: absolute;
	display: inline-block;
    font-size: 14px;
    font-weight: 300;
    top: 50%;
    left: -62px;
    height: 50%;
    max-width: 30px;
    word-wrap: break-word;
}

._year_6568e span {
	max-width: 100%;
}

._year_6568e:after {
	position: absolute;
	content: "";
}

._year_6568e:before {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #33c1e3;
	left: 37px;
	box-shadow: 0 0 0 5px #f6f6f6;
	z-index: 3;
}

._buttonCareer_6568e {
	cursor: pointer;
	width: 381px;
	padding: 17px 20px 18px 20px;
	background-color: white;
	border-radius: 8px;
	text-align: left;
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #d5d5d5;
	border-right: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	box-shadow: -1px 0 0 #f1f1f1,
	            1px 0 0 #f1f1f1,
	            0 1px 0 #e6e6e6,
	            0 2px 0 #f1f1f1;
}

._buttonCareer_6568e:focus {
	outline: none;
}

._buttonCareer_6568e:hover {
    color: white;
    background-color: #33c1e3;
    outline: none;
}

._buttonCareer_6568e:hover + ._year_6568e {
	color: #33c1e3;
	font-size: 14px;
	font-weight: 700;
}

._buttonCareer_6568e:hover + ._year_6568e:before {
	background-color: #33c1e3;
	box-shadow: 0 0 0 5px #94dff2;
}

._buttonCareer_6568e:hover > ._post_6568e {
	color: white;
}

._buttonCareer_6568e:hover > ._dateWork_6568e {
	color: white;
}	

._place_6568e {
  font-size: 20px;
  font-family: 'DejaVu Sans';
  margin: 0 0 4px 0;
  letter-spacing: -1px;
  word-wrap: break-word;
  max-width: 100%;
}

._post_6568e {
    margin: 0 0 7px;
    max-width: 100%;
	font-size: 18px;
	font-weight: 300;
	line-height: 21px;
	color: #aaaaaa;
	font-family: 'Fira Sans';
	word-wrap: break-word;
}

._dateWork_6568e {
	margin: 0;
	max-width: 100%;
	font-size: 18px;
	font-weight: 300;
	line-height: 100%;
	color: #aaaaaa;
	font-family: 'Fira Sans';
	word-wrap: break-word;
}

._professions_71fa7 {
	position: relative;
	width: 381px;
	margin-bottom: 20px;
	z-index: 3;
}

._professions_71fa7:last-child {
	margin-bottom: 0;
}

._professions_71fa7:nth-child(2) > ._year_71fa7:after {
	background-color: #f6f6f6;
	height: 100%;
	width: 4px;
	top: -100%;
	left: 40px;
	z-index: 2;
}

._professions_71fa7:last-child > ._year_71fa7:after {
	background-color: #f6f6f6;
	height: 100%;
	width: 4px;
	top:  0;
	left: 40px;
	z-index: 2;	
} 

._year_71fa7 {
	position: absolute;
	display: inline-block;
    font-size: 14px;
    font-weight: 300;
    top: 50%;
    left: -62px;
    height: 50%;
    max-width: 30px;
    word-wrap: break-word;
}

._year_71fa7 span {
	max-width: 100%;
}

._year_71fa7:after {
	position: absolute;
	content: "";
}

._year_71fa7:before {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #33c1e3;
	left: 37px;
	box-shadow: 0 0 0 5px #f6f6f6;
	z-index: 3;
}

._buttonCareer_71fa7 {
	cursor: pointer;
	width: 381px;
	padding: 17px 20px 18px 20px;
	background-color: white;
	border-radius: 8px;
	text-align: left;
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #d5d5d5;
	border-right: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	box-shadow: -1px 0 0 #f1f1f1,
	            1px 0 0 #f1f1f1,
	            0 1px 0 #e6e6e6,
	            0 2px 0 #f1f1f1;
}

._buttonCareer_71fa7:focus {
	outline: none;
}

._buttonCareer_71fa7:hover {
    color: white;
    background-color: #33c1e3;
    outline: none;
}

._buttonCareer_71fa7:hover + ._year_71fa7 {
	color: #33c1e3;
	font-size: 14px;
	font-weight: 700;
}

._buttonCareer_71fa7:hover + ._year_71fa7:before {
	background-color: #33c1e3;
	box-shadow: 0 0 0 5px #94dff2;
}

._buttonCareer_71fa7:hover > ._post_71fa7 {
	color: white;
}

._buttonCareer_71fa7:hover > ._dateWork_71fa7 {
	color: white;
}	

._place_71fa7 {
  font-size: 20px;
  font-family: 'DejaVu Sans';
  margin: 0 0 4px 0;
  letter-spacing: -1px;
  word-wrap: break-word;
  max-width: 100%;
}

._post_71fa7 {
    margin: 0 0 7px;
    max-width: 100%;
	font-size: 18px;
	font-weight: 300;
	line-height: 21px;
	color: #aaaaaa;
	font-family: 'Fira Sans';
	word-wrap: break-word;
}

._dateWork_71fa7 {
	margin: 0;
	max-width: 100%;
	font-size: 18px;
	font-weight: 300;
	line-height: 100%;
	color: #aaaaaa;
	font-family: 'Fira Sans';
	word-wrap: break-word;
}

._block_71fa7 {
	display: inline-block;
}
._nameSection_8b332 {
	margin: 0;
	color: #414141;
    font-weight: 500;
    font-size: 35px;
    max-width: 100%;
    word-wrap: break-word;
}

._portfolio_8b332 {
	display: flex;
	flex-direction: column;
	flex-basis: 700px;
	max-width: 700px;
}

._portfolioWrapper_8b332 {
	margin-top: 3px;
	display: flex;
	flex-wrap: wrap;
}

._portfolioItem__appCategory_8b332 {
	margin: 14px 0 0 18px;
	font-size: 14px;
	color: #aeaeae;
	font-weight: 400;
	background: url('icon-app.7aabaca9.png') no-repeat;
	padding-left: 14px;
	max-width: 100%;
    word-wrap: break-word;
}

._portfolioItem__pcCategory_8b332 {
	margin: 14px 0 0 18px;
	font-size: 14px;
	color: #aeaeae;
	font-weight: 400;
	background: url('icon-pc.97ef7c50.png') no-repeat;
	padding-left: 26px;
	max-width: 100%;
    word-wrap: break-word;
}
._portfolioItem_d3f37 {
	display: block;
	text-decoration: none;
	position: relative;
	width: 220px;
	padding: 0px 20px 18px 0px;
	background-color: white;
	border-radius: 7px;
	overflow: hidden;
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #d5d5d5;
	border-right: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	box-shadow: -1px 0 0 #f1f1f1,
	            1px 0 0 #f1f1f1,
	            0 1px 0 #e6e6e6,
	            0 2px 0 #f1f1f1;
}

._portfolioItem_margin_d3f37 {
	margin-right: 20px;
	margin-top: 20px;
}

._portfolioItem_margin_d3f37:last-child, ._portfolioItem_margin_d3f37:nth-child(3) {
	margin-right: 0;
}

._portfolioItem_d3f37:hover > ._portfolioItem__name_d3f37 {
	color: #e85f61;
}

._portfolioItem__img_d3f37 {
	position: relative;
	top: -1px;
	left: -1px;
}

._portfolioItem__name_d3f37 {
	margin: 11px 0 0 17px;
	color: #33c1e3;
	font-size: 21px;
    font-weight: 400;
    max-width: 100%;
    word-wrap: break-word;
}

._portfolioItem__description_d3f37 {
	margin: 1px 0 0 19px;
	font-size: 14px;
    font-weight: 300;
    color: #414141;
    max-width: 100%;
    word-wrap: break-word;
}

._portfolioItem__appCategory_d3f37 {
	margin: 14px 0 0 18px;
	font-size: 14px;
	color: #aeaeae;
	font-weight: 400;
	background: url('icon-app.7aabaca9.png') no-repeat;
	padding-left: 14px;
	max-width: 100%;
    word-wrap: break-word;
}

._portfolioItem__pcCategory_d3f37 {
	margin: 14px 0 0 18px;
	font-size: 14px;
	color: #aeaeae;
	font-weight: 400;
	background: url('icon-pc.97ef7c50.png') no-repeat;
	padding-left: 26px;
	max-width: 100%;
    word-wrap: break-word;
}
._footer_1ad34 {
	background-color: #414141;
}

._footerWrapper_1ad34 {
	min-height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

._copyright_1ad34 {
	font-weight: 300;
	font-size: 14px;
	color: #9c9c9c;
	max-width: 350px;
	word-wrap: break-word;
}

._socialNetwork_1ad34 {
	display: flex;
}

._facebook_1ad34 {
	background-image: url(sprite.0899d116.png);
    background-position: -31px 0px;
    width: 31px;
    height: 30px;
    display: block;
	margin-right: 7px;
}

._vk_1ad34 {
    background-image: url(sprite.0899d116.png);
    background-position: -62px -30px;
    width: 31px;
    height: 30px;
    display: block;
	margin-right: 7px;
}

._twitter_1ad34 {
	background-image: url(sprite.0899d116.png);
    background-position: -31px -30px;
    width: 31px;
    height: 30px;
    display: block;
}

._facebook_1ad34:hover {
	background-image: url(sprite.0899d116.png);
    background-position: 0px 0px;
    width: 31px;
    height: 30px;
}

._vk_1ad34:hover {
	background-image: url(sprite.0899d116.png);
    background-position: -62px 0px;
    width: 31px;
    height: 30px;
}

._twitter_1ad34:hover {
	background-image: url(sprite.0899d116.png);
    background-position: 0px -30px;
    width: 31px;
    height: 30px;
}
/*# sourceMappingURL=training-project-react.27727181.css.map */
